<style type="text/css">
    .modal-content {
        margin: 15% auto; 
        border: 3px solid #428bca;
        width: 80%; 
    }
    .modal-header-primary {
    background-color: #428bca;
    }
    tr {
        width: 100%;
        display: inline-table;
        table-layout: fixed;
    }

    table{
        height:100px;              // <-- Select the height of the table
    }
    tbody{
        overflow-y: scroll;      
        height: 120px;            //  <-- Select the height of the body
        width: 100%;
        position: absolute;
    }
</style>
<!--          Stickler         -->
    <ul id="search" class="sticklr">
        <li>
            <a href="#" class="glyphicon glyphicon-search"></a>
            <ul>
                <li>
                    <form action="http://google.com" method="GET">
                        <input type="text" name="q" value="" placeholder="Type then press Enter.." />
                    </form>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" class="glyphicon glyphicon-refresh" ></a>
            <ul>
                <li>
                    <a href="http://www.google.com">This is a link</a>
                </li>
                <li>
                    <a href="http://www.facebook.com">Another link</a>
                </li>
            </ul>
        </li>
    </ul>
        <!--       New   Stickler         -->

    <ul id="example-1" class="sticklr">
        <li>
            <a href="#">Call Log</a>
            <ul >
                <li>
                    <table class="table">
                        <tr>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Caller ID</th>
                            <th>Name</th>
                            <th>Department</th>
                            <th>Status</th>
                            <th>Call Duration</th>
                        </tr>

                        <tr>
                            <td>01/02/2015</td>
                            <td>17:08</td>
                            <td><a id="a_select" class="example-p-2"  href="#">9876543210</a></td>
                            <td>Puneet</td>
                            <td>Computer</td>
                            <td>Answered</td>
                            <td>9:36</td>
                        </tr>
                        <tr>
                            <td>01/02/2015</td>
                            <td>17:08</td>
                            <td><a id="a_select" class="example-p-2"  href="#">9876543210</a></td>
                            <td>Puneet</td>
                            <td>Computer</td>
                            <td>Answered</td>
                            <td>9:36</td>
                        </tr>
                        <tr>
                            <td>01/02/2015</td>
                            <td>17:08</td>
                            <td><a id="a_select" class="example-p-2"  href="#">9876543210</a></td>
                            <td>Puneet</td>
                            <td>Computer</td>
                            <td>Answered</td>
                            <td>9:36</td>
                        </tr>
                        <tr>
                            <td>01/02/2015</td>
                            <td>17:08</td>
                            <td><a id="a_select" class="example-p-2"  href="#">9876543210</a></td>
                            <td>Puneet</td>
                            <td>Computer</td>
                            <td>Answered</td>
                            <td>9:36</td>
                        </tr>
                    </table>
                </li>
            </ul>
        </li>
    </ul>
    <!--          NEW STICKLR ENDS     -->
    <script type="text/javascript">
    //        NEW STICKLR  
   
    $('#example-1').sticklr({
        menuHeight  : 20,
        menuWidth   : 700,
        tabHeight   : 20,
        tabWidth    : 80,
        showOn      : 'hover',
        stickTo     : 'right',
    });
    //     NEW STICKLR ENDS

    $('#search').sticklr({
        // animate     : true,
        menuHeight  : 20,
        menuWidth   : 200,
        // relativeTo  : 'bottom',  
        // relativeGap : 90,
        showOn      : 'hover',
        tabHeight   : 34,
        tabWidth    : 32
    });
    
    $("#a_select").click(function(){
        $('#select_number').modal({
        backdrop: 'static',
        keyboard: false
        },'show');
    })   

    $('.example-p-2').on('click', function () {
        $.confirm({
            title: 'A secure action',
            content: '<form action="send_sms" data-remote="true"><input type="radio" name="num" value="2854354354">2854354354 <br><input type="radio" name="num" value="3456546755">3456546755<br><input type="radio" name="num" value="5675657657">5675657657<br/><br/></form>',
            confirmButton: 'Proceed',
            confirmButtonClass: 'btn-info',
            icon: 'fa fa-question-circle',
            animation: 'scale',
            animationClose: 'top',
            opacity: 0.5,
            confirm: function () {
                var num=$('input[type="radio"]:checked').val();
                $.ajax({ 

                    url: "/send_sms?num="+num,
                    success: function(){ 
                        // $('#select_number').modal("hide");   
                        alert("selected number is"+num)                                
                    },
                    error:function(){
                        alert('error')
                    } 
                })
            }
        });
    });



    </script